In [5]:
# The code was removed by Watson Studio for sharing.

,mpg,cylinders,engine,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,American,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,American,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,American,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,American,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,American,ford torino

# this is trial

In [6]:
df = df_data_1

In [8]:
df.count()

mpg             398
cylinders       406
engine          406
horsepower      400
weight          406
acceleration    406
year            406
origin          406
name            406
dtype: int64

In [10]:
df.shape

(406, 9)

In [11]:
df.tail(5)

,mpg,cylinders,engine,horsepower,weight,acceleration,year,origin,name
401,34.0,4,108.0,70.0,2245,16.9,82,Japanese,toyota corolla
402,38.0,4,91.0,67.0,1965,15.0,82,Japanese,honda civic
403,32.0,4,91.0,67.0,1965,15.7,82,Japanese,honda civic (auto)
404,38.0,4,91.0,67.0,1995,16.2,82,Japanese,datsun 310 gx
405,32.0,4,144.0,96.0,2665,13.9,82,Japanese,toyota celica gt